
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}    
body {
    font-family: Kings, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {  
    text-align: center;
    max-height: fit-content;
    position: relative;
    
    }
    
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-height: 18rem;  
    
}
nav {
    display: flex;
    justify-content: center;
}



nav ul {
    list-style-type: none;
    display: flex;
    
    justify-self: center;
    flex-wrap: wrap;
    
}

nav ul li {
    margin: 0 1rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
    justify-content: right;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 3rem;
    display: block;
}



nav ul li:hover {
    background-color: #ddd;
    border-radius: 5px;
    opacity: 0.5;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    padding: 1rem;
    text-align: center;
    align-content: center;
    background-color: white;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    

}

.product h3 {
    font-size: 2rem;
    padding: 1rem;
}

.product p {
    font-size: 1.4rem;
    color: #666;
    padding-bottom: 3rem;
    max-height: 10px;
}

.product button {
    background-color: #a8d5e2;
    border: none;
    padding: 2rem 1rem 4rem;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    height: 1.5rem;
}

.product button:hover {
    background-color: #7fb9c9;
}
h2  {
    font-size: 3rem ;
    text-align: center;
    background-color: beige;
    padding: 2rem
    
}


.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    background: #333;
    height: 4px;
    width: 2rem;
    margin: 4px 0;
    align-self: flex-end;
    border: #7a0507;
}

.velemenyek {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    position: relative;
    bottom: auto;
    font-family:Playwrite IE Guides, sans-serif;
   

}

blockquote {
    background-color: #fff;
    border-left: 5px solid #7a0507;
    margin: 0;
    padding: 10px 20px;
    font-style: italic;
}
footer {
    text-align: center;
    justify-content: center;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 1rem;
    margin-top: 1rem;
    background-color: #a8d5e2;
    color: #333;
    width: 100%;
}
#totop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(72, 71, 71);
    opacity: 0.7;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
  }
  
  #totop:hover {
    background-color: #555;
  }

/* base styles */


a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #6F86FF;
}

body {
    background-color: rgb(65, 71, 97);
    font-family: sans-serif;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(179, 182, 196);
    height: 100dvh;
    width: 100dvh;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    opacity: .8;
    
    
    
}
.off-screen-menu ul {
    z-index: 10;
}

.off-screen-menu.active {
    right: 0;
    
    
    }
.off-screen-menu.active .overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
   
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    
}



/* nav */
nav {
    padding: 1rem;
    display: flex;

}



/* hamburger menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    right: 30rem;
    top: -12rem;
    z-index: 10;

    
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    display: none;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active {
    right: 2rem;
    position: relative;

}
.ham-menu.active span {
    background-color: white;
   
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
}
@media (max-width: 850px) {
    .product-grid {
        grid-template-columns: repeat( 1fr);
        gap: 1rem;
    }
   
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    nav ul {
            display: none;
        }
    
    nav.active ul {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
        }
    .ham-menu span {
            display: block;
        }
    }


